hr{width:100%;border:0;padding:0;margin:0.3em auto;text-align:center;height:1px;background-image:-webkit-gradient(linear,left top,right top,color-stop(0,rgba(233,233,233,0)),color-stop(0.5,rgba(230,230,230,.7)),color-stop(1,rgba(233,233,233,0)));background-image:-webkit-linear-gradient(left,rgba(233,233,233,0) 0,rgba(230,230,230,.7) 50%,rgba(233,233,233,0) 100%);background-image:-moz-linear-gradient(left,rgba(233,233,233,0) 0,rgba(230,230,230,.7) 50%,rgba(233,233,233,0) 100%);background-image:-o-linear-gradient(left,rgba(233,233,233,0) 0,rgba(230,230,230,.7) 50%,rgba(233,233,233,0) 100%);background-image:-ms-linear-gradient(left,rgba(233,233,233,0) 0,rgba(230,230,230,.7) 50%,rgba(233,233,233,0) 100%);background-image:linear-gradient(left,rgba(233,233,233,0) 0,rgba(230,230,230,.7) 50%,rgba(233,233,233,0) 100%)}
#suggest input:focus {
    outline: 0;
    outline: thin dotted \9;
}
#suggestions > li:first-child {
    margin-top: 0.3em;
    padding-top: 0.3em;
}
#suggestions > hr:last-child {
    height: 0px;
}
#suggest input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #129fea;
    background-color: rgba(50, 50, 50, 0.75);
	color: #f9fcf9;
    border-radius: 1.5em;
    padding: 0.5em 0.8em;
    width: 100%;
}
#suggest li:hover {
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzFlOTBmZiIgc3RvcC1vcGFjaXR5PSIwLjMiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDIyMiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(30,144,255,0.18) 50%, rgba(0,2,34,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(50%,rgba(30,144,255,0.18)), color-stop(100%,rgba(0,2,34,0)));
background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,144,255,0.18) 50%,rgba(0,2,34,0) 100%);
background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,144,255,0.18) 50%,rgba(0,2,34,0) 100%);
background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(30,144,255,0.18) 50%,rgba(0,2,34,0) 100%);
background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(30,144,255,0.18) 50%,rgba(0,2,34,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#00000222',GradientType=1 );
}
#suggest li {
    color: #ff851b; /* this is an orange */
    cursor: pointer;
    padding: .1em 0.5em;
}
#suggest ul {
    list-style: none;
    margin: 0;
    margin-top: 0.4em;
    padding: 0;
    font-size: 0.9em;
    background-color: rgba(33, 33, 33, 0.85);
    color: #f9fcf9;
    border-radius: .5em;
    overflow: hidden;
}
#suggest {
    position: fixed;
    display: none;
    right: 10px;
    top: 1px;
    width: 22%;
    z-index: 50;
}
nav {text-align: center; vertical-align:middle; margin-bottom: .75em;}
input[type="range"] {
    vertical-align: middle;
    margin: 0 .45em;
}
.send {
    padding: .25em .75em;
    margin-left: .5em;
}
a {color: #1e90ff; /* Dodger Blue */ }
#serious {font-style: italic;}
#really {font-size: 0.85em; margin-left: 0.35em; }
#identity, #serious, #really {display: none;}
.button_action,
.button-action {
	color: white;
	border-radius: 3px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: #ff851b; /* this is an orange */
}
.address {font-size: 0.75em; color: #888;}
ul.venues {
	margin: 0.5em 0em;
	padding: 0;
	display: none;
	list-style: none;
}
#morehelp p:last-child {
	font-size: 1.2em;
}
html {height: 100%;}
body {
	background: #f9fcf9; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmOWZjZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjhmZmRjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #f9fcf9 0%, #f8ffdc 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f9fcf9), color-stop(100%,#f8ffdc)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f9fcf9 0%,#f8ffdc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f9fcf9 0%,#f8ffdc 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f9fcf9 0%,#f8ffdc 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f9fcf9 0%,#f8ffdc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf9', endColorstr='#f8ffdc',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	color: #333;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.45;
}
#morehelp img {
    vertical-align: middle;
    border: 1px solid #ff851b;
    box-shadow: 0 0 11px rgba(10, 10, 10, 0.45);
    border-radius: 5px;
    margin: .25em;
}
#morehelp .button_action {
	padding: .25em .75em;
}
#morehelp {
    width: 42em !important;
}
#morehelp, #help, #end {
	margin: 1em auto;
	width: 36em;
	max-width: 80%;
    font-size: 1.1em;
}
#end h1 {
	display: inline;
	vertical-align: middle;
}
img.city {
	border-radius: 75px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	width: 150px;
	height: 150px;
	vertical-align: middle;
	margin: 0 1em;
}
#question, #time, #done-ctn {
    background-color: rgba(50, 50, 50, 0.75);
    color: white;
    position: relative;
    z-index: 50;
    display: none;
}
#question {
    margin: 0;
    margin-left: 41px;
    padding: 0 1em;
    font-size: 2em;
    border-bottom-left-radius:  .5em;
    border-bottom-right-radius: .5em;
    width: 70%;
}
#time {
    width: 60%;
    border-radius: 5px;
    font-size: 1.3em;
    margin: 5em auto;
    padding: .5em .8em;
}
select {color: #333;}
#n_0, #n_1, #n_2, #skip {
    float: right;
}
#skip a {
    color: inherit;
    font-size: 0.8em;
}
#done-ctn {
    position: absolute !important;
    top: 205px;
    left: 10px;
    font-size: 1.3em;
    background-color: transparent !important;
}
#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#loading {
    width: 50%;
    margin: 10% auto 1%;
    text-align: center;
    vertical-align: middle;
}
