#venues ul {list-style: none;}
body {
	background-color: #f9fcf9;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.25;
}
#help {margin: 0 auto;}
#question {
    background-color: rgba(75, 75, 75, 0.6);
    color: white;
    position: relative;
    z-index: 50;
    width: 80%;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius:  .5em;
    margin: 0 auto;
    padding: 0 1em;
    font-size: 1.5em;
}
#skip {
    float: right;
}
#skip a {
    color: inherit;
}
#time {
    width: 70%;
    padding: .5em .8em;
    margin: 5em auto;
    background-color: rgba(75, 75, 75, 0.6);
    color: white;
    z-index: 50;
    position: relative;
    display: none;
    font-size: 1.3em;
}
#done-ctn {
    background-color: rgba(75, 75, 75, 0.6);
    color: white;
    z-index: 50;
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    font-size: 1.3em;
}
#map {
    display: inline-block;
    width: 80%;
    height: 600px;
    border: 1px solid #ccc;
}
