{% extends "layout.html" %}
{% block body %}
	<title>Where would you {{ label|safe }} in {{ city|safe }}?</title>
	<script type="text/javascript">
        var $BBOX={{ bbox|safe }};
        var ANSWER = [];
        var MINI = require('minified'); 
        var $ = MINI.$;
        var SHOUR_WAS_CHANGED = false;
        var EHOUR_WAS_CHANGED = false;
        var DAY_WAS_CHANGED = false;
        $(function() {
                var pick = $('#pick');
                var next = $('#next');
                var show_hour = $('#hour-val');
                pick.on('change', function(e) {
                    e.preventDefault();
                    var city = e.target.options[e.target.selectedIndex].value;
                    var current = "{{ current|safe }}";
                    submit_answer(current, city);
                    });
                next.on('click', function(e) {
                    e.preventDefault();
		    if (this.is('.pure_button_disabled')) {return;}
                    var city = "{{ city |safe}}";
                    var after = "{{ next|safe }}";
                    submit_answer(after, city);
                    });
                });
	</script>
</head>
<body>

	<div id="map">
		<div id="question">
			<span id="progress">{{ id_+1 }}/{{ total }} | </span>
			<span id="label">{{ 'Where would you '+label+'?' }}</span>
			<span id="skip"><a href="/skip/{{ city|safe }}">{{ 'Skip, '+skip }}</a></span>
		</div>
        <div id="loading">Loading map…</div>
        <div class="spinner"><div class="dot1"></div><div class="dot2"></div></div>
		<div id="time">
			<form>
            <p>Would you do it more likely on <label>week days <input type="radio"
            name="day" value="weekday"></label>, <label>week-end <input type="radio"
            name="day" value="weekend"></label> or <label>both <input type="radio"
            name="day" value="both"></label>?</p>
        <p>Typically, you would
        <label>start around <input min="0" max="23" step="1" autofocus
            value="11" type="range" id="hour-start" name="hour-start"><span
        id="hour-start-value">&nbsp;11:00</span></label>
        and
        <label>end around <input min="0" max="23" step="1" value="14"
            type="range" id="hour-end" name="hour-end"><span
            id="hour-end-value">&nbsp;14:00</span></label>.
        </p>
		<p>Answer the same question in another city
        <select id="pick">
            <option value="fake" selected="selected">&nbsp;</option>
            {% for c in cities %}
                <option value="{{ c.short }}">{{ c.long }}</option>
            {% endfor %}
        </select>
        or
        #}<button type="button" id="next" class="pure-button button-action
		pure_button_disabled">
		{% if next == 'end' %} Submit your last answer
		{% else %} Go to the next question
		{% endif %}</button></p>
			</form>
	</div>
	<div id="done-ctn">
		<button type="button" id="done" class="pure-button button-action">Done</button>
	</div>
	</div>

	<script src="{{ url_for('static', filename='draw.js') }}"></script>
</body>
</html>
{% endblock %}
