{% extends "layout.html" %}
{% block body %}
	<link rel="stylesheet" href="{{ url_for('static', filename='leaflet.draw.css') }}" />
	<script src="{{ url_for('static', filename='leaflet-src.js') }}"></script>
	<script src="{{ url_for('static', filename='leaflet.draw.js') }}"></script>
	<script type="text/javascript">
		var $BBOX={{ bbox|tojson|safe }};
		var ANSWER = [];
        var MINI = require('minified'); 
        var $ = MINI.$, $$ = MINI.$$, EE = MINI.EE;
        $(function() {
                var pick = $('#pick');
                var next = $('#next');
                var show_hour = $('#hour-val');
                pick.on('change', function(e) {
                    e.preventDefault();
                    var city = e.target.options[e.target.selectedIndex].value;
                    var current = "{{ current|safe }}";
                    submit_answer(current, city);
                    {# window.location = window.location.origin + '/' + current + '/' + city; #}
                    });
                next.on('click', function(e) {
                    e.preventDefault();
                    var city = "{{ city |safe}}";
                    var after = "{{ next|safe }}";
                    submit_answer(after, city);
                    {# window.location = window.location.origin + '/' + after + '/' + city; #}
                    });
                });
                console.log('loaded');
	</script>
</head>
<body>

	<div id="map">
		<div id="question">
			<span id="progress">{{ id_+1 }}/2 | </span>
			<span id="label">{{ 'Where would you '+label+'?' }}</span>
			<span id="skip"><a href="/{{ next|safe + '/' + city|safe }}">{{ 'Skip, '+skip }}</a></span>
		</div>
		<div id="time">
            <p>Would you do it more likely on <label>week days <input type="radio"
            name="weekday"></label>, <label>weed-end <input type="radio"
            name="weekend"></label> or <label>both <input type="radio"
            name="both"></label>.</p>
		<p>Around which time: <input min="0" max="23" step="1"
		value="12" type="range" id="hour" name="hour"><span id="hour-value">12</span></p>
		<p>Answer the same question in another city
        <select id="pick">
            <option value="fake" selected="selected">&nbsp;</option>
            {% for c in cities %}
                {% if c.short != city %}
                    <option value="{{ c.short }}">{{ c.long }}</option>
                {% endif %}
            {% endfor %}
        </select>
        or <button id="next">Go to the next question</button></p>
	</div>
	<div id="done-ctn">
		<button id="done">Done</button>
	</div>
	</div>

	<script src="{{ url_for('static', filename='draw.js') }}"></script>
</body>
</html>
{% endblock %}
