{% extends "layout.html" %}
{% block body %}
<script type=text/javascript>
var MINI = require('minified');
var $ = MINI.$;
$(function() {
        var form_email = $('#f-email');
        var form_joke = $('#really');
        var uid = $('#uid');
	{% if email == '' %}
        form_email.on('submit', function(e) {
            e.preventDefault();
            var email = document.getElementById('email').value;
            console.log("read: "+email);
            $.request('post', $SCRIPT_ROOT + '/email', {email: email})
            .then(function(data) {
                var res = $.parseJSON(data);
                console.log("get: "+res.email);
                uid.fill(res.email);
                $('#identity').show();
                document.getElementById('identity').style.display='inline';
                $('#please').hide();
                form_email.hide();
		document.getElementById('really').style.display='inline';
            });
	    return false;
            });
        form_joke.on('submit', function(e) {
            e.preventDefault();
            form_joke.hide();
            document.getElementById('serious').style.display='block';
	    return false;
            });
	{% else %}
                $('#please').hide();
                $('#f-email').hide();
	{% endif %}
        });
</script>
<title>Thank you for completing  the “Where would you” survey</title>
	</head>
	<body>
	<div id="end">
		{% if done %}
		<h1>Great Job!</h1>
		{% for c in cities %}
		<img class="city" src="{{ url_for('static', filename='city/'+c.short+'.jpg') }}">
		{% endfor %}
		<p>Thank to your time, {{ names|safe}} will soon have no more
		secrets left.</p>

        <div>
	Your answers will be remembered through History as the one of the
        mighty <em id="uid">{{ you|safe if email == '' else email|safe }}.</em>
	<span id="identity">. It does sound better, doesn't it?</span>
	<form id="really">
		<label>Yes: <input type="radio" name="like" value="yes"></label>
		<label>No: <input type="radio" name="like" value="no"></label>
		<button type="submit" class="pure-button button-action send">send</button>
	</form>
	</div>
	<p id="serious">Seriously? Don't you have <a href="https://www.facebook.com/">real things</a> to do instead?</p>
	<p>
        <span id="please"> But if you want, you can also
            leave <label for="email">your email address</label>. </span>When we
        receive enough answers, we will be able to tell you how much 
        typical habitant of {{ home|safe }} you are (or not).</p>

	<form id="f-email">
		<input type="email" id="email" name="email" autofocus autocomplete="on">
		<button type="submit" class="pure-button button-action send">Send</button>
	</form>
		{% else %}
		<h1>That was fast</h1>
		<p>It looks like you skipped a lot of questions.</p><p> If you found
		them boring, we are sorry for the inconvenience.</p><p> Otherwise, if
		you still want to contribute to science, you can
		<a href="reset">start again.</a></p>
		{% endif %}
	</div>
{% endblock %}
