{% extends "layout.html" %}
{% block body %}
<title>A few more instructions</title>
	</head>
	<body class="gradient">
	<div id="morehelp">
        <p>Before you start, I want to give you a few more explanations to
        save you time later.</p>

        <table>
            <tr><td>
                    First, after reading the question at the top like this
                </td><td class="example">
                    <img src="{{ url_for('static', filename='help/question.png') }}" alt="question">
            </td></tr><tr><td>
                    you can either skip it or answer it.
                </td><td class="example">
                    <img src="{{ url_for('static', filename='help/skip.png') }}" alt="skip">
            </td></tr><tr><td>
                    To do so, use the tools on the top left to draw circles or
                    polygons on the city map.
                </td><td class="example">
                    <img src="{{ url_for('static', filename='help/draw.png') }}" alt="draw">
                    {# <img src="{{ url_for('static', filename='help/map.png') }}" alt="map"> #}
            </td></tr><tr><td>
                    Then you can choose as many locations as you want.
                </td><td class="example">
                    <img src="{{ url_for('static', filename='help/venue.png') }}" alt="venue">
            </td></tr><tr><td>
                    <p>Finally, you have three options:
                    <ol>
                        <li>add up to 2 more areas in the same manner.</li>
                        <li>click the edit button
                        to move existing areas or change their size, and the
                        trash button to remove them by clicking them.
                        {# <img src="{{ url_for('static', filename='help/edit.png') }}" alt="edit"> #}
                        </li>
                        <li>move to the next question, by clicking the Done button
                        and telling at which time you would do this activity.
                        {# <img src="{{ url_for('static', filename='help/time.png') }}" alt="time"> #}
                        </li>
                    </ol>
                </td><td class="example">
                    <img src="{{ url_for('static', filename='help/done.png') }}" alt="done">
            </td></tr><tr><td>
                    Sometimes, you may be thinking of a place without remembering
                    its address. Thus you can look up its name on the top right box
                    and click it to center the map on it (you still have to draw a
                    shape though, as surroundings are more informative than single
                    locations).
                </td><td class="example">
                    <img src="{{ url_for('static', filename='help/search.png') }}" alt="search">
            </td></tr>
        </table>

        <p>Now you are ready to <a href="{{question}}/{{city}}" class="pure-button
            button_action">start</a></p>
    </div>
{% endblock %}
