{% extends "layout.html" %}
{% block body %}
<title>Where would you… a urban activity survey</title>
<script type=text/javascript>
var MINI = require('minified');
var $ = MINI.$;
$(function() {
		var pick = $('#pick');
		var next = $('#start');
        pick.on('change', function(e) {
            var city = e.target.options[e.target.selectedIndex].value;
            next.set('-pure-button-disabled +button-action');
            next.set({'@href': '{{ question|safe }}'+'/'+city})
            e.preventDefault();
            });
		});
</script>
	</head>
	<body class="gradient">
	<div id="help">
        <h1>Where would <strong>you</strong>…</h1>

	<p>In my master thesis, I want to understand how people live
	differently in various cities and measure how places are similar or
	not. But to evaluate my results, I need information from inhabitants
	and thus your help is precious.</p>

	<p>You will be presented with a map and a series of {{ total|safe }}
	activities.  For each one, please draw where you would do it.</p>

            <form id="choose">
			<p>Start by picking the city most familiar to you (if you have lived
            elsewhere than Helsinki, I would love to hear from it)
			<select id="pick" autofocus>
				<option value="fake" selected="selected">&nbsp;</option>
				{% for city in cities %}
                {% if city.short == 'moscow' %}
                <optgroup label="Europe, North">
                {% elif city.short == 'london' %}
                </optgroup><optgroup label="Europe, Middle">
                {% elif city.short == 'rome' %}
                </optgroup><optgroup label="Europe, South">
                {% elif city.short == 'newyork' %}
                 </optgroup><optgroup label="USA, East">
                {% elif city.short == 'chicago' %}
                </optgroup><optgroup label="USA, Middle">
                {% elif city.short == 'sanfrancisco' %}
                </optgroup><optgroup label="USA, West">
                {% endif %}
				<option value="{{ city.short }}">{{ city.long }}</option>
                {% if city.short == 'seattle' %}
                </optgroup>
                {% endif %}
				{% endfor %}
            </select>. Then, <a id="start" class="pure-button pure-button-disabled"
				href="/">let's go</a></p></form>
	</div>
{% endblock %}
