{% extends "layout.html" %}
{% block body %}
<title>Where would you… a urban activity survey</title>
<script type=text/javascript>
var MINI = require('minified'); 
var $ = MINI.$;
$(function() {
		var pick = $('#pick');
		var next = $('#start');
        pick.on('change', function(e) {
            var city = e.target.options[e.target.selectedIndex].value;
            next.set('-pure-button-disabled +button-action');
            next.set({'@href': '{{ question|safe }}'+'/'+city})
            e.preventDefault();
            });
		});
</script>
	</head>
	<body>
	<div id="help">
        <h1>Where would <strong>you</strong>…</h1>
			<p>Indicate on the map at most 3 areas where you would perform the
			activity described. After that, you can answer the question in
			another city or move on to the next question.</p>
            <form id="choose">
			<p>First, pick the city most familiar to you
			<select id="pick" autofocus>
				<option value="fake" selected="selected">&nbsp;</option>
				{% for city in cities %}
				<option value="{{ city.short }}">{{ city.long }}</option>
				{% endfor %}
			</select> and
			<a id="start" class="pure-button pure-button-disabled"
				href="/">let's go</a></p></form>
	</div>
{% endblock %}
